@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background */
body {
  color: #ffffff;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  font-size: 20;
  font-family: "Work Sans", sans-serif;
}

/* Insignia and menu */
a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  margin: auto;
}
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}
.nav-brand {
  width: 50px;
}
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 30px;
  transition: all 0.4s ease;
}
.nav-main ul li a {
  padding: 2px;
}
.nav-main ul li a:hover {
  border-bottom: 2px solid #ffffff;
  transform: translate3d(0, 3px, 0);
}
.nav-main ul.nav-menu {
  flex: 1px;
  margin-left: 20px;
}
.nav-main ul.nav-menu-right a {
  margin-right: 20px;
  font-size: 1.25rem;
}
.menu-btn {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 50px;
  display: none;
}

/* Separator */
hr {
  color: #ffffff;
  margin: 10px 0;
}

/* Showcase */
.showcase {
  width: 95%;
  height: 550px;
  margin: 30px auto;
  background-image: url("./img/banner1.jpg");
  background-position: center 35%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  padding: 20px;
  border-radius: 10px;
}

/*Button*/
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #669999;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffff;
  width: 10%;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}
.btn:hover {
  opacity: 0.7;
}

/* Cards */
.game-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  margin: 0 20px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}
.game-cards img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.game-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}
.game-cards a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}
.game-cards a:hover {
  text-decoration: underline;
}

/* Discord banner */
.discord-banner {
  width: 100%;
  height: 400px;
  background: url(./img/discord.png);
  margin-bottom: 40px;
  background-position: center 50%;
  border-radius: 10px;
}
.discord-banner .invite {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #000000;
}
.discord-banner .invite h2 {
  margin: 20px 0 20px 0;
}

/* Discord Button */
.btn-d {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #669999;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #000000;
  width: 20%;
  text-align: center;
  border-radius: 10px;
}
.btn-d:hover {
  opacity: 0.7;
}

/* Taled of old Banner */
.tales {
  width: 95%;
  height: 350px;
  background: url(./img/tales-of-old.jpg);
  background-position: center 25%;
  margin: 30px auto;
  border-radius: 10px;
}
.tales .oldcontent {
  width: 100%;
  padding: 50px 0 0 30px;
  color: #f2f2f2;
}

/*ToO banner button*/
.oldbtn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #669999;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffff;
  width: 30%;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}
.oldbtn:hover {
  opacity: 0.7;
}

/* FOOTER TEXT */
.footer {
  background: #2f3640;
  color: #818181;
  font-size: 20px;
  padding: 50px 0;
}
.footer h3 {
  text-align: center;
}

@media (max-width: 800px) {
  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    height: 100%;
    padding: 30px;
    opacity: 0.9;
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
  }
  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }
  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: black solid 1px;
  }
  .menu-btn {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    top: 17px;
    right: 35px;
  }
  .container .nav-main .nav-menu a {
    color: black;
  }
  .showcase {
    width: 100%;
    background-position: 40% 45%;
    height: 250px;
    align-items: center;
  }
  .showcase p,
  .showcase h2 {
    text-align: center;
  }
  .btn {
    width: 50%;
  }
  .game-cards {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 30px;
    margin-bottom: 30px;
  }
  .game-cards img {
    width: 100%;
    column-gap: 0px;
  }
  .discord-banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    display: flex;
    align-items: center;
  }
  .discord-banner .invite {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .discord-banner.invite h2 {
    margin: 0;
  }

  .btn-d {
    width: 50%;
  }
  .tales {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 0px;
    text-align: center;
  }
  .tales .oldcontent {
    padding: 0px;
  }
  .oldbtn {
    width: 50%;
  }
}
